<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="indexHead">
        <h1 style="color:black;text-align: center;">ECE1779 - Introduction to Cloud Computing</h1>
        <h2 style="color:black;text-align: center;">Group 22</h2>

        <p style="color:black;text-align: center;">
            Junyun Ruan  1004388851<br>

            Yixin Wang  1009226375<br>

            Yinfei Song  1004537487<br>


                        <br>
        </p>

    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('put')}}">put</a>
            </td>

        </tr>

    </table>


    <br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('get')}}">get</a>
            </td>
        </tr>


    </table>
    <br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('key')}}">list key</a>
            </td>

        </tr>

    </table>
    <br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('library')}}">library</a>
            </td>

        </tr>
    </table>
    <br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('place')}}">places</a>
            </td>
        </tr>
    </table>
        <br><br>
    </div>
{% if result %}
  <h1>{{ result }}!</h1>
{% else %}
  <h1></h1>
{% endif %}
<iframe id="myIframe" name="hideIframe" style="display:none;"></iframe>
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>

<div style="position: absolute; top: 10px; right: 10px;">
    <a href onclick="window.open('https://adpqg6brrc.execute-api.us-east-1.amazonaws.com/dev/main', 'newwindow', 'height=800, width=800, top=200, left=200')  ">manager app</a>
</div>

<script>
setInterval(function() {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "pop_up", true);
    xhr.send();

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 ) {
            if ( xhr.status === 200 ) {
                console.log(JSON.parse(xhr.responseText) )
                const response = JSON.parse(xhr.responseText);
                if(response.message=='increased'){
                    alert("node increased to " +  response.value);

                }
                if(response.message=='decreased'){
                    alert("node decreased to " + response.value);

                }

            }
            else {
                console.log(xhr.statusText);
            }
        }
    }
}
,2000);
</script>

</body>
</html>