<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Get</title>
    <!-- change it to the css file it wants!-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>

<body>
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return" style="margin-left:40px">
    </form>
    {% if user_image %}
      <form action="{{url_for('share')}}" method="post" enctype=multipart/form-data id="share">
        <input type="submit" value="share" class="shareButton">
        <input type="hidden" id="tag" name="tag" value={{ tag }}>
      </form>
    {% endif %}

<form action="{{ url_for('library')}}" method=post enctype=multipart/form-data>
<table>
     <tr>
          <td>
              <h1>You can search for anything you want</h1></br>
              <div class="search">
                  <input id="getKey" type="text" name="key" class="searchTerm" placeholder="" />
                  <button type="submit" class="searchButton" value="get" ><i class="fa fa-search"></i>></button>
              </div>
          </td>
        </tr>
</table>

    <table  border="1" >
        {% if user_image %}
            {% for pair in user_image.items()|batch(3) %}
            <tr>
            {% for f,k in pair %}
                <td>
                 <div>
                     <img src="{{ f }}" >
                     <p style="text-align: center"> {{ k }}</p>
                 </div>
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
        {% endif %}
    </table>

    {% if wordcloud %}

        <p style="text-align:center;">
            <img style="max-width:768px;max-height:1360px;justify-content: center;" height="750" width="1100" src="data:image/png;base64,{{wordcloud}}"/>
        <p style="text-align:center;">

    {% endif %}

    {% if result %}
    <h1>{{ result }}!</h1>
    {% else %}
    <h1></h1>
    {% endif %}

</form>

</body>

</html>