<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Get</title>
    <!-- change it to the css file it wants!-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>

<body>
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return" style="margin-left:40px">
    </form>

    <h1>Photos for {{ place }}</h1>

    <table  border="1" >
        {% if user_image != None %}
            {% for pair in user_image.items()|batch(4) %}
            <tr>
            {% for f,k in pair %}
                <td>
                 <div>
                     <img src="{{ f }}" >
                     <p style="text-align: center"> {{ k }}</p>
                 </div>
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
        {% endif %}
    </table>

    {% if result %}
    <h1>{{ result }}!</h1>
    {% else %}
    <h1></h1>
    {% endif %}

</body>

</html>