<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Put</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return" style="margin-left:40px">
    </form>
    <form class="container" action="{{ url_for('put')}}"
          enctype="multipart/form-data" method=post id="formBox"
              name="form" >
<!--        target="hideIframe">-->
            <table border="1" >
                <tr>
                    <td>
                        <label for="getKey">Key:</label>
                        <input id="getKey" type="text" name="key" placeholder="" />
                        {{status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="getImage">Image:</label>
                        <input id="getImage" type="file" name="file"  onchange="showImg(this)" />
                    </td>
                </tr>
                <tr id="imageCell" style="display:none;">
                    <td  width="50%"></td>
                    <td style="text-align: center;margin-left:auto;margin-right:auto">
                        <img id="showimg" src="" style="display:block;" />
                    </td>
                    <td  width="50%"></td>
                </tr>
<!--                <tr>-->
<!--                    <td>-->
<!--                        <label for="getKey">Add description to your image:</label><br>-->
<!--                        <input class="biggerText" maxlength="100" type="text" name="key" placeholder=""/>-->

<!--                    </td>-->
<!--                </tr>-->
                <tr>
                    <td>
                        <input type="checkbox" name="share" value="share" onclick="hide()"/>
                        <label id="share" for="mode" >Do you want to share location information?</label><br>

                    </td>
                </tr>
                <tr id="beHidden" style="display:none">
                    <td>
<!--                        Latitude:<input name="lat" id="lat" type="text"  />-->
<!--                        Longitude:<input name="lon" id="lon" type="text"  />-->
<!--                        <input type="button" value="get your coordinates" onclick="getLocation()"/></br>-->
<!--                        Street Address:</br><input name="street" class="longerText" type="text"></br>-->
                        City:</br><input name="city" id="city" class="longerText" type="text"></br>
                        <input type="button" value="get your coordinates" onclick="getLocation()"/></br>

                    </td>
                </tr>
                {% if result %}
                <tr style="padding: 25px; "><td style="padding: 25px; ">
                <h1 style="color:black">{{ result }}!</h1>
                </td></tr>
                {% else %}
                <h1></h1>
                {% endif %}

            </table>
            <input type=submit value=Upload onclick="return checkImage()" style="margin-left:40px">
        </form>



<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1277.0.min.js"></script>
<script>
'use strict'
<!--var x = document.getElementById("lat");-->
<!--var y = document.getElementById("lon");-->
var x = document.getElementById("city");

var creds = new AWS.Credentials({
  accessKeyId: 'AKIAR23VGBXQCKSR55YL', secretAccessKey: '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'
});
var myConfig = new AWS.Config({
  credentials: creds, region: 'us-east-1'
});
AWS.config.update(myConfig);
var lambda = new AWS.Lambda();

const getLocation = async () => {

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
};

async function showPosition(position)  {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;

    const payload = {
        long: lon,
        lat: lat
    };

    var params = {
        FunctionName: 'location-reverse-geocode',
        InvocationType: 'RequestResponse',
        Payload: JSON.stringify(payload)
    };

    try {
        const data = await lambda.invoke(params).promise();
        console.log('Data2: ', JSON.parse(JSON.parse(data['Payload'])['body']));
        x.value = JSON.parse(JSON.parse(data['Payload'])['body'])['Results'][0]['Place']['Municipality'];
    } catch (error) {

        console.log("Error", error);
        x.value = "";
    }
}

</script>

</body>


<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
</html>