@import url(https://fonts.googleapis.com/css?family=Open+Sans);

table{
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    border-collapse: collapse;
    background-color:rgba(254,220,189,0.9);

}
.indexHead{
    margin: auto;

    /*background-color:rgba(222,171,138,0.9);*/
    width:70%;
    height:90%
}

body{
   background-color:#FAEBD7;
}


th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 50px;
}


img{
    max-width:250px;max-height:250px;
}

.biggerText {
  width: 70%;
  padding: 30px

}

.longerText{
    width: 30%;
    padding: 10px
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #deab8a;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #deab8a;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #deab8a;
  background: #deab8a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shareButton{
    position: absolute;
    top: 11px;
    right: 43px;
    /*padding: 30px;*/
    /*display:block;*/
    /*background-color: lightgrey;*/
    /*color: black;*/
    /*text-align:center;*/
}